{% extends "layout.html" %}

{% from "macros.html" import render_field %}

{% block content %}
<div class="container">
<div class="entry-list single">
    <article>
        <h1>{{ entry.title }}</h1>
        <time datetime="{{ entry.date }}">{{ entry.date }}</time>
        <div class="entry">
            <h3>Time Spent: </h3>
            <p>{{ entry.timeSpent}} Hours</p>
        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            <p>{{ entry.whatILearned | safe }}</p>
        </div>
        <div class="entry">
            <h3>Resources to Remember:</h3>
            <ul>
                {% for item in entry.ResourcesToRemember.split('\n') %}
                <li>{{ item |urlize(target='_blank')  }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="entry">
            {% if entry.tags %}
            <h3>Tags :</h3>
                <br>
                <span> / </span>
                {% for i in entry.tags %}
                <a href="{{ url_for('tag_entries', slug=i.slug) }}"><span>{{ i.name }}</span></a></li>
                <span> / </span>
                {% endfor %}
            {% endif %}
        </div>
    </article>
    <div class="edit">
        <p><a href="{{ url_for('edit_entry', slug= entry.slug) }}">Edit Entry</a></p>
        <p><a href="{{ url_for('delete_entry', slug= entry.slug) }}">Delete Entry</a></p>
    </div>
</div>
</div>
{% endblock %}